#nullable disable
using System.Diagnostics.CodeAnalysis;
using Cosmere.System.Roshar.Def;
using RimWorld;
using Verse;

namespace Cosmere.System.Roshar;

public static partial class GeneDefOf {        
    {{#each orders}}
    public static GeneDef Cosmere_Roshar_Gene_Radiant{{defName name}};
    {{/each}}
}
