#nullable disable
using System.Diagnostics.CodeAnalysis;
using Cosmere.Roshar.Def;
using RimWorld;

namespace Cosmere.Roshar;

[DefOf]
[SuppressMessage("ReSharper", "InconsistentNaming")]
[SuppressMessage("ReSharper", "UnusedMember.Global")]
[SuppressMessage("ReSharper", "UnassignedField.Global")]
[SuppressMessage("ReSharper", "UnusedType.Global")]
public static class RadiantOrderDefOf {        
    {{#each orders }}
    public static RadiantOrderDef {{defName name}};
    {{/each}}

    static RadiantOrderDefOf() {
        DefOfHelper.EnsureInitializedInCtor(typeof(RadiantOrderDefOf));
    }
}
