#nullable disable
using System.Diagnostics.CodeAnalysis;
using Cosmere.System.Roshar.Def;
using RimWorld;
using Verse;

namespace Cosmere.System.Roshar;

public static partial class TraitDefOf {        
    {{#each orders}}
    public static TraitDef Cosmere_Roshar_Trait_Radiant{{defName name}};
    {{/each}}
}
