bin/
obj/
.desloppify/
riderModule.iml
/_ReSharper.Caches/
.vs
.idea
node_modules
.scripts/.cache
**/*.generated.*
Cosmere.slnx.DotSettings.user
**/Assemblies
**/AssetBundles
**/.lastassetbuildhash
.env
Assembly-CSharp.dll
*.stackdump
old

# SonarScanner working directory
.sonarqube/
