#nullable disable
using Cosmere.Scadrial.Def;
using RimWorld;

namespace Cosmere.System.Scadrial;

public static partial class MetallicArtsMetalDefOf {
    {{#each metals as | metal |}}
    public static MetallicArtsMetalDef {{defName metal.name}};
    {{/each}}
}
