<?xml version="1.0" encoding="UTF-8" ?>
<MetalRegistry>
	<metals>
        {{#each metals}}
        <li>
			<name>{{name}}</name>
			<defName>{{#if defName}}{{defName}}{{else}}{{capitalize name}}{{/if}}</defName>
			<godMetal>{{godMetal}}</godMetal>
			<color>({{join color ", "}})</color>
		</li>
        {{/each}}
    </metals>
</MetalRegistry>