#nullable disable
using System.Diagnostics.CodeAnalysis;
using RimWorld;{{#if (eq kind "Gene")}}
using Verse;{{/if}}

namespace CosmereScadrial;

public static partial class {{kind}}DefOf {
    {{#each metals as | metal |}}
    public static {{../kind}}Def Cosmere_Scadrial_{{../kind}}_{{../type}}{{defName metal.name}};
    {{/each}}
}