<?xml version="1.0" encoding="utf-8"?>
<Defs>
    <Cosmere.Core.Def.MetalDef Name="Cosmere_Metal_{{defName metal.name}}">
        <defName>{{defName metal.name}}</defName>
        <label>{{title metal.name}}</label>
        <description>{{metal.description}}</description>
        <color>{{rgb metal.color}}</color>{{#if metal.colorTwo}}
        <colorTwo>{{rgb metal.colorTwo}}</colorTwo>{{/if}}{{#if metal.godMetal}}
        <godMetal>{{metal.godMetal}}</godMetal>{{/if}}{{#if metal.shards}}
        <shards>{{#each metal.shards}}
            <li>
                <shard>{{this.shard}}</shard>{{#if this.grant}}
                <grant>{{this.grant}}</grant>{{/if}}
            </li>{{/each}}
        </shards>{{/if}}
    </Cosmere.Core.Def.MetalDef>
</Defs>