#nullable disable
using RimWorld;
using Verse;

namespace Cosmere.Core;

public static partial class ThingDefOf {        
    {{#each metals as | metal |}}
    public static ThingDef Mineable{{defName metal.name}};
    {{/each}}
}