#nullable disable
using System.Diagnostics.CodeAnalysis;
using Verse;

namespace CosmereScadrial;

public static partial class ThingDefOf {        
    {{#each metals as | metal |}}
    public static ThingDef Cosmere_Scadrial_Thing_AllomanticVial{{capitalize metal.Name}};
    {{/each}}
}