<?xml version="1.0" encoding="utf-8"?>
<Defs>
    {{#with metal.feruchemy.store}}
    <HediffDef ParentName="Cosmere_Scadrial_Hediff_FeruchemyBase">
        <defName>Cosmere_Scadrial_Hediff_Store{{defName ../metal.name}}</defName>{{#if ../metal.feruchemy.customHediffClass}}
        <hediffClass>Cosmere.System.Scadrial.Feruchemy.Hediff.{{defName ../metal.name}}</hediffClass>{{/if}}
        <label>storing {{title ../metal.name}}</label>
        <description>{{description}}</description>
        <stages>
            {{#times stages}}
            <li>
                {{#if (gt ../stages 1)}}<minSeverity>{{@time}}</minSeverity>{{/if}}{{#if ../multiplyBySeverity}}
                <multiplyStatChangesBySeverity>true</multiplyStatChangesBySeverity>
                {{/if}}{{#if ../hungerRateFactor}}<hungerRateFactor>{{getFactorForStage @time ../hungerRateFactor ../stages}}</hungerRateFactor>{{/if}}{{#if ../capacityMods}}
                <capMods>
                    {{#each ../capacityMods}}
                    <li{{{mayRequire @key}}}>
                        <capacity>{{withoutRequire @key}}</capacity>
                        {{#if factor}}
                        <postFactor>{{getCapacityFactorForStage @time factor ../../stages}}</postFactor>
                        {{/if}}
                        {{#if offset}}<offset>{{getOffsetForStage @time offset}}</offset>{{/if}}
                    </li>
                    {{/each}}
                </capMods>
                {{/if}}{{#if ../statFactors}}
                <statFactors>
                    {{#each ../statFactors as |value attribute| }}
                    <{{withoutRequire attribute}}{{{mayRequire attribute}}}>{{getFactorForStage @time value ../../stages}}</{{withoutRequire attribute}}>
                    {{/each}}
                </statFactors>
                {{/if}}{{#if ../statOffsets}}
                <statOffsets>
                    {{#each ../statOffsets as |value attribute| }}
                    <{{withoutRequire attribute}}{{{mayRequire attribute}}}>{{getOffsetForStage @time value}}</{{withoutRequire attribute}}>
                    {{/each}}
                </statOffsets>
                {{/if}}
            </li>
            {{/times}}
        </stages>
        <modExtensions>
            <li Class="Cosmere.Core.DefModExtension.MetalsLinked">
                <metal>{{defName ../metal.name}}</metal>
            </li>
        </modExtensions>
    </HediffDef>
    {{/with}}
    {{#with metal.feruchemy.tap}}
    <HediffDef ParentName="Cosmere_Scadrial_Hediff_FeruchemyBase">
        <defName>Cosmere_Scadrial_Hediff_Tap{{defName ../metal.name}}</defName>
        {{#if ../metal.feruchemy.customHediffClass}}<hediffClass>Cosmere.System.Scadrial.Feruchemy.Hediff.{{defName ../metal.name}}</hediffClass>{{/if}}
        <label>tapping {{title ../metal.name}}</label>
        <description>{{description}}</description>
        <stages>
            {{#times stages}}
            <li>
                {{#if (gt ../stages 1)}}<minSeverity>{{@time}}</minSeverity>{{/if}}{{#if ../multiplyBySeverity}}
                <multiplyStatChangesBySeverity>true</multiplyStatChangesBySeverity>
                {{/if}}{{#if ../hungerRateFactor}}<hungerRateFactor>{{getFactorForStage @time ../hungerRateFactor ../stages}}</hungerRateFactor>{{/if}}
                {{#if ../capacityMods}}
                <capMods>
                    {{#each ../capacityMods}}
                    <li{{{mayRequire @key}}}>
                        <capacity>{{withoutRequire @key}}</capacity>
                        {{#if this.factor}}
                        <postFactor>{{getCapacityFactorForStage @time this.factor ../../stages}}</postFactor>
                        {{/if}}
                        {{#if this.offset}}<offset>{{getOffsetForStage @time this.offset}}</offset>{{/if}}
                    </li>
                    {{/each}}
                </capMods>
                {{/if}}{{#if ../statFactors}}
                <statFactors>
                    {{#each ../statFactors as |value attribute| }}
                    <{{withoutRequire attribute}}{{{mayRequire attribute}}}>{{getFactorForStage @time value ../../stages}}</{{withoutRequire attribute}}>
                    {{/each}}
                </statFactors>
                {{/if}}{{#if ../statOffsets}}
                <statOffsets>
                    {{#each ../statOffsets as |value attribute| }}
                    <{{withoutRequire attribute}}{{{mayRequire attribute}}}>{{getOffsetForStage @time value}}</{{withoutRequire attribute}}>
                    {{/each}}
                </statOffsets>
                {{/if}}
            </li>
            {{/times}}
        </stages>
        <modExtensions>
            <li Class="Cosmere.Core.DefModExtension.MetalsLinked">
                <metal>{{defName ../metal.name}}</metal>
            </li>
        </modExtensions>
    </HediffDef>
    {{/with}}
    {{#with metal.feruchemy.tap}}
    <HediffDef ParentName="Cosmere_Scadrial_Hediff_FeruchemyBase">
        <defName>Cosmere_Scadrial_Hediff_TapCompounded{{defName ../metal.name}}</defName>
        {{#if ../metal.feruchemy.customHediffClass}}<hediffClass>Cosmere.System.Scadrial.Feruchemy.Hediff.{{defName ../metal.name}}</hediffClass>{{/if}}
        <label>tapping compounded {{title ../metal.name}}</label>
        <description>{{description}}</description>
        <stages>
            {{#times stages}}
            <li>
                {{#if (gt ../stages 1)}}<minSeverity>{{@time}}</minSeverity>{{/if}}{{#if ../multiplyBySeverity}}
                <multiplyStatChangesBySeverity>true</multiplyStatChangesBySeverity>
                {{/if}}{{#if ../hungerRateFactor}}<hungerRateFactor>{{getCompoundedStatForStage @time ../hungerRateFactor ../stages}}</hungerRateFactor>{{/if}}
                {{#if ../capacityMods}}
                <capMods>
                    {{#each ../capacityMods}}
                    <li{{{mayRequire @key}}}>
                        <capacity>{{withoutRequire @key}}</capacity>
                        {{#if this.factor}}
                        <postFactor>{{getCompoundedStatForStage @time this.factor ../../stages}}</postFactor>
                        {{/if}}
                        {{#if this.offset}}<offset>{{getCompoundedOffsetForStage @time this.offset}}</offset>{{/if}}
                    </li>
                    {{/each}}
                </capMods>
                {{/if}}{{#if ../statFactors}}
                <statFactors>
                    {{#each ../statFactors as |value attribute| }}
                    <{{withoutRequire attribute}}{{{mayRequire attribute}}}>{{getCompoundedStatForStage @time value ../../stages}}</{{withoutRequire attribute}}>
                    {{/each}}
                </statFactors>
                {{/if}}{{#if ../statOffsets}}
                <statOffsets>
                    {{#each ../statOffsets as |value attribute| }}
                    <{{withoutRequire attribute}}{{{mayRequire attribute}}}>{{getCompoundedOffsetForStage @time value}}</{{withoutRequire attribute}}>
                    {{/each}}
                </statOffsets>
                {{/if}}
            </li>
            {{/times}}
        </stages>
        <modExtensions>
            <li Class="Cosmere.Core.DefModExtension.MetalsLinked">
                <metal>{{defName ../metal.name}}</metal>
            </li>
        </modExtensions>
    </HediffDef>
    {{/with}}
</Defs>
