#nullable disable
using System.Diagnostics.CodeAnalysis;
using CosmereScadrial.Def;
using RimWorld;

namespace CosmereScadrial;

public static partial class MetallicArtsMetalDefOf {
    {{#each metals as | metal |}}
    public static MetallicArtsMetalDef {{capitalize metal.Name}};
    {{/each}}
}
