***This is very much a beta, please be patient. File bug reports in GitHub or Discord***

*Adds stuff from Roshar!*

​

{{ asset mod 'About' 'about' }}

​

{{ asset mod 'Compatibility' 'compatibility' }}

- Requires Biotech
- Compatible with Ideology, Royalty, and Anomaly
- Designed for RimWorld 1.6
- Safe to add at game start
- Mid-save support is partial — best used in a new colony (you wont get all the metals)

​

{{ asset mod 'Tips' 'tips' }}