#nullable disable
using RimWorld;
using Verse;

namespace Cosmere.Resources;

public static partial class ThingDefOf {        
    {{#each metals as | metal |}}
    public static ThingDef {{defName metal.name}};
    {{/each}}
}
