<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <CS_Settings_Category_Incidents>Incident Settings</CS_Settings_Category_Incidents>
    
    <CS_Settings_MistsFrequency_Label>Mists Frequency: </CS_Settings_MistsFrequency_Label>
    <CS_Settings_MistsFrequency_Tooltip>How often will the mists come at night</CS_Settings_MistsFrequency_Tooltip>

    
    <CS_Settings_Category_Pawns>Pawn Settings</CS_Settings_Category_Pawns>
    
    <CS_Settings_PawnsKeepVialOnDown_Label>Keep vials on down: </CS_Settings_PawnsKeepVialOnDown_Label>
    <CS_Settings_PawnsKeepVialOnDown_Tooltip>Should pawns drop all their vials when they get downed? Note they will still drop them when they die, regardless of this setting.</CS_Settings_PawnsKeepVialOnDown_Tooltip>
    
    <CS_Settings_PawnsKeepMetalmindsOnDown_Label>Keep metalminds on down: </CS_Settings_PawnsKeepMetalmindsOnDown_Label>
    <CS_Settings_PawnsKeepMetalmindsOnDown_Tooltip>Should pawns drop all their metalminds when they get downed? Note they will still drop them when they die, regardless of this setting.</CS_Settings_PawnsKeepMetalmindsOnDown_Tooltip>
</LanguageData>