#nullable disable
using CosmereResources.Def;
using RimWorld;
using Verse;

namespace CosmereResources;

public static partial class ThingDefOf {        
    {{#each metals as | metal |}}
    public static ThingDef {{defName metal.name}};
    {{/each}}
}
