<?xml version="1.0" encoding="utf-8"?>
<Defs>
    <!-- Raw {{defName gem.name}} -->
    <ThingDef ParentName="CosmereGemBase">
        <defName>Raw{{defName gem.name}}</defName>
        <label>{{title gem.name}}</label>
        <description>{{gem.descriptions.raw}}</description>

        <thingCategories>
            <li>Cosmere_Resource_ThingCategory_RawGem</li>
        </thingCategories>

        <graphicData>
            {{# unless gem.stackable}}
            <graphicClass>Graphic_Single</graphicClass>
            {{/unless}}
            <drawSize>{{gem.drawSize}}</drawSize>
            <texPath>Item/Resource/{{defName gem.name}}/Raw{{defName gem.name}}</texPath>
        </graphicData>

        <statBases>
            <Mass>0.0006</Mass>
            <Beauty>{{gem.baseBeauty}}</Beauty>
            <MarketValue>{{gem.baseMarketValue}}</MarketValue>
        </statBases>


        <stuffProps>
            <categories>
                <li>Cosmere_Resources_StuffCategory_Gems</li>
                <li>Cosmere_Resources_StuffCategory_RawGems</li>
            </categories>
        </stuffProps>

        <modExtensions>
            <li Class="Cosmere.Core.DefModExtension.GemsLinked">
                <gem>{{defName gem.name}}</gem>
            </li>
        </modExtensions>
        <comps>
            <li MayRequire="Cosmere.Roshar" Class="Cosmere.System.Roshar.Comp.Thing.StormlightProperties">
                <maxInvestiture>{{gem.baseStormlight}}</maxInvestiture>
                <drainRate>0.5</drainRate>
            </li>
        </comps>
    </ThingDef>
</Defs>