<?xml version="1.0" encoding="utf-8"?>
<Defs>
    <Cosmere.Roshar.Def.RadiantOrderDef Name="Cosmere_Roshar_RadiantOrder_{{defName order.name}}">
        <defName>{{defName order.name}}</defName>
        <label>{{title order.name}}</label>
        <description>{{order.description}}</description>
        <gemstone>{{defName order.gemstone}}</gemstone>
        <surges>
            {{#each order.surges}}
            <li>{{defName this}}</li>
            {{/each}}
        </surges>
        <abilities>
            {{#each order.abilities}}
            <li>{{this}}</li>
            {{/each}}
        </abilities>
        <ideals>
            {{#each order.ideals}}
            <li>
                <label>{{title label}}</label>
                <quotes>
                    {{#each quotes}}
                    <li>{{this}}</li>
                    {{/each}}
                </quotes>
                <abilities>
                    {{#each abilities}}
                    <li>{{this}}</li>
                    {{/each}}
                </abilities>
            </li>
            {{/each}}
        </ideals>
    </Cosmere.Roshar.Def.RadiantOrderDef>
</Defs>