{{ asset mod 'Support Us or Follow Along' 'support_us' }}

Follow along with our development at: https://patreon.com/RimWorldCosmere?utm_medium=unknown&utm_source=join_link&utm_campaign=readme&utm_content=copyLink

Contribute and donate so we can get more art and other commissions