
{{ asset mod 'Recommendations' 'recommendations' }}

Here are a couple recommended mods that work really well with the Cosmere mods:

* [Nice Bill Tab](https://steamcommunity.com/sharedfiles/filedetails/?id=3520130671)
    * Rusts! This is one of the most gorgeous UI mods this game has. Drastically improves the Bills UI
* [Nice Health Tab](https://steamcommunity.com/sharedfiles/filedetails/?id=3328729902)
    * Storms! This is another awesome mod by Andromeda that makes the Health tab gorgeous
* [Realistic Darkness](https://steamcommunity.com/sharedfiles/filedetails/?id=1531882210)
    * Just makes the dark, darker. 
* [True Non-Senescence](https://steamcommunity.com/sharedfiles/filedetails/?id=3547377353&searchtext=)
    * Lets your longer lived pawns have a better life 